.column {
  background-color: #f2f2f3;
  border-radius: 5px;
  padding: 15px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
